.checked{
    border: 3px #FF4700 solid;
}

.answersform{
    display: flex;
    flex-direction: column;
}

.answerbox{
    margin: 10px;
    cursor: pointer;
}

.answerbox input[type="checkbox"] {
    display: none;
}

.answerbox > input[type="checkbox"] ~ span {
  background-color: #50bcf2;
}

.unanswered{
    display: none;
    transition: 300ms;
}