.postquestionform{
	display: flex;
	flex-direction: column;
	margin: 0 0 5rem 0;
}

.postquestionform form{
	display: flex;
	flex-direction: column;
}

.postquestionform form label{
	display: flex;
	flex-direction: column;
	margin: 0 0 0 0;
}

.postquestionform form label input{
	background-color: #FFE6DC;
	color: black;
	padding: 1rem 2rem;
	margin: .25rem 0 1rem 0;
	border: none;
	border-radius: 15px;
}

.postquestionform form label select{
	width: 100%;
	background-color: #FFE6DC;
	color: black;
	padding: 1rem 2rem;
	margin: .25rem 0 1rem 0;
	border: none;
	border-radius: 15px;
}
