.postquestionform{
	display: flex;
	flex-direction: column;
	margin: 7rem 0 5rem 0;
	width: 80vw;
}

.postquestionform form{
	display: flex;
	flex-direction: column;
	width: 100%;
}

.postquestionform form label{
	display: flex;
	flex-direction: column;
	margin: 0 0 0 0;
}

.postquestionform form label input,
.postquestionform form label select,
.postquestionform > form > .feedback > textarea{
	background-color: #FFE6DC;
	color: black;
	padding: 1rem 2rem;
	margin: .25rem 0 1rem 0;
	border: none;
	border-radius: 15px;
}

.postquestionform form label div{
	background-color: #FFE6DC;
	color: black;
	margin: .25rem 0 1rem 0;
	border-radius: 15px;
	padding: 1rem;
	
}

.postquestionform form label div input{
	background-color: #FFE6DC;
	color: black;
	margin: 0;
	border: none;
	padding: 1rem 0;
}

.postquestionform form label div{
	display: flex;
	flex-direction: column;
}

.postquestionform form label div div{
	display: flex;
	flex-direction: row;
	justify-content: end;
}

.postquestionform form label div div input{
	border: red solid 1px;
}


.postquestionform > form > .feedback > textarea{
	height: 200px;
	text-wrap: wrap;
	size: 2000;
}
