#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  --purple-background: #F4E5F3;
  --green-background: #c8e4e4; 
  --orange-background: #ffece4;
  --yellow-background: #fffcd4;
}

.purple-btn{
  background-color: var(--purple-background);
}

.green-btn{
  background-color: var(--green-background);
}

.orange-btn{
  background-color: var(--orange-background);
}

.yellow-btn{
  background-color: var(--yellow-background);
}

