#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --purple-background: #F4E5F3;
  --green-background: #c8e4e4; 
  --orange-background: #ffece4;
  --yellow-background: #fffcd4;
}

.purple-background{
  background-color: var(--purple-background);
}

.green-background{
  background-color: var(--green-background);
}

.orange-background{
  background-color: var(--orange-background);
}

.yellow-background{
  background-color: var(--yellow-background);
}

